DEEPSEEK_API_KEY=sk-your-api-key
DEEPSEEK_MODEL=deepseek-v4-pro
# 需要代理时取消注释
#BILIBILI_PROXY=http://127.0.0.1:7897
#HTTP_PROXY=http://127.0.0.1:7897
#HTTPS_PROXY=http://127.0.0.1:7897
HF_HUB_DISABLE_XET=1
WHISPER_DEVICE=cuda
WHISPER_COMPUTE_TYPE=float16
